.profilePage
{
	@property "profilePage";

	@property "/profilePage";
}

{xen:helper clearfix, '.profilePage'}

.profilePage .mast
{
	float: left;
	width: @profilePageSidebarWidth;
	padding-right: 10px;
	border-right: 1px solid @primaryLighterStill;
}

.profilePage .mainProfileColumn
{
	border-left: 1px solid @primaryLighterStill;
	zoom: 1;
}

/** ************************ **/

.profilePage .mast .section
{
}
	
	.profilePage .mast .sectionFooter
	{
		border-left: 1px solid @primaryLighterStill;
		border-right: 1px solid @primaryLighterStill;
		text-align: right;
	}

/** ************************ **/

.profilePage .mast .followBlocks .section
{
	margin-bottom: 20px;
}

.profilePage .mast .followBlocks .primaryContent.avatarHeap
{
	border: 1px solid @primaryLighterStill;
	border-top: none;
}

/** ************************ **/

.profilePage .mast .section.infoBlock
{
	@property "profilePageSidebarInfoBlock";
	padding: 2px;
	margin-bottom: 20px;
	border: 1px solid @primaryLighterStill;
	border-radius: 4px;
	@property "/profilePageSidebarInfoBlock";
}

	.profilePage .mast .section.infoBlock .primaryContent,
	.profilePage .mast .section.infoBlock .secondaryContent
	{
		overflow: hidden;
	}

	.profilePage .mast .section.infoBlock .primaryContent:last-child,
	.profilePage .mast .section.infoBlock .secondaryContent:last-child
	{
		border: none;
	}

	.profilePage .infoBlock dt
	{
		@property "profilePageSidebarInfoBlockDt";
		font-size: 11px;
		@property "/profilePageSidebarInfoBlockDt";
	}

	.profilePage .infoBlock dd
	{
		@property "profilePageSidebarInfoBlockDd";
		font-size: 11px;
		@property "/profilePageSidebarInfoBlockDd";
	}

	.profilePage .infoBlock .dob,
	.profilePage .infoBlock .age
	{
		white-space: nowrap;
	}
	
	.profilePage .mast .shareControl
	{
		margin-top: 10px;
	}

/* ***************************** */
/** [ Items...........(count) ] **/

.textWithCount
{
	overflow: hidden; zoom: 1;
}

	.textWithCount .text
	{
		float: left;
	}

	.textWithCount .count
	{
		float: right;
	}
	
		.textWithCount.subHeading .text
		{		
			color: @secondaryDarker;
		}
		
		.textWithCount.subHeading .count
		{
			margin: -3px 0;
			padding: 2px 6px;
			border-radius: 5px;
			border: 1px solid @secondaryLighter;
			background-color: @secondaryLightest;
			color: @secondaryDarker;
		}

/** ************************ **/

.profilePage .primaryUserBlock
{
	border-top: 1px solid @primaryLighterStill;
}

.profilePage .primaryUserBlock .mainText
{
	padding-bottom: {xen:calc '@profilePageTabHeight + 14'}px;
}

	.profilePage .primaryUserBlock .followBlock
	{
		float: right;
		font-size: 11px;
		text-align: right;
		overflow: hidden; zoom: 1;
	}
	
		.profilePage .primaryUserBlock .followBlock li
		{
			float: right;
			margin-left: 10px;
		}
	
		.profilePage .primaryUserBlock .followBlock .muted
		{
			font-size: 10px;
			clear: both;
		}

	.profilePage .primaryUserBlock h1
	{
		@property "profilePageUsername";
		font-size: 18pt;
		@property "/profilePageUsername";
	}

	.profilePage .primaryUserBlock .userBlurb
	{
		margin-bottom: 5px;
	}
	
	.profilePage .primaryUserBlock .userBanners .userBanner
	{
		display: inline-block;
		margin-bottom: 5px;
	}
	
	.profilePage .primaryUserBlock .userStatus
	{
		@property "messageText";
		font-size: 11pt;
		font-family: Georgia, "Times New Roman", Times, serif;
		line-height: 1.4;
		@property "/messageText";
		
		@property "profilePageUserStatus";
		font-style: italic;
		font-size: 9pt;
		padding-top: 5px;
		@property "/profilePageUserStatus";
	}
	
	.profilePage .primaryUserBlock .lastActivity
	{
		@property "profilePageLastActivityText";
		font-size: 11px;
		padding-top: 5px;
		margin-top: 5px;
		border-top: 1px solid @primaryLighterStill;
		@property "/profilePageLastActivityText";
	}
	
		.profilePage .primaryUserBlock .userStatus .DateTime
		{
			color: @mutedTextColor;
			font-size: 10px;
		}
	
	.profilePage .primaryUserBlock .primaryContent,
	.profilePage .primaryUserBlock .secondaryContent
	{
		padding-left: @profilePageTabInset;
		border: none;
	}

.profilePage .tabs.mainTabs
{
	padding: 0 @profilePageTabInset;	
	margin-top: -{xen:calc '@profilePageTabHeight + 1'}px;
	min-height: {xen:calc '@profilePageTabHeight + 1'}px;
	height: auto;
	position: relative; /* ensure separate stacking context from .mainText */
        margin-left: -177px;
        text-align: center;
        width: 0;
}

	.profilePage .tabs.mainTabs li a
	{
		padding-left: @profilePageTabHeight;
		padding-right: @profilePageTabHeight;		
		line-height: @profilePageTabHeight;
		height: @profilePageTabHeight;
		
		@property "profilePageTab";
		font-weight: bold;
		@property "/profilePageTab";	
	}
	
		.profilePage .tabs.mainTabs li a:hover
		{
			@property "profilePageTabHover";
			background-color: @primaryLighter;
			@property "/profilePageTabHover";
		}
	
	.profilePage .tabs.mainTabs li.active a
	{
		@property "profilePageTabSelected";
		background-color: @contentBackground;
		@property "/profilePageTabSelected";
	}

	.profilePage .profilePoster
	{
		padding-bottom: 10px;
		position: relative;
	}
	
		.profilePage .profilePoster textarea
		{
			height: 54px;
			width: 100%;
			box-sizing: border-box;
			*width: 98%;
			resize: vertical;
		}
		
		.profilePage .profilePoster .submitUnit
		{
			margin-top: 5px;
			text-align: right;
		}

.profilePage .profileContent .InlineMod
{
	overflow: hidden; zoom: 1;
	
}

.contactInfo,
.aboutPairs
{
	max-width: 500px;
}

	.contactInfo dl,
	.aboutPairs dl
	{
		margin-bottom: 5px;
	}
	
	.contactInfo dt,
	.aboutPairs dt
	{
		width: 30%;
	}
	
	.contactInfo dd,
	.aboutPairs dd
	{
		width: 68%;
	}

.aboutPairs
{
	margin-bottom: 1em;
}

.signature
{
	@property "messageText";
	font-size: 11pt;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.4;
	@property "/messageText";
	
	/*border: 1px solid @primaryLighterStill;
	padding: 10px;*/
}

.profilePage .eventList li
{
	padding-left: 0;
}

.profilePage .eventList:first-of-type li:first-child
{
	padding-top: 0;
}

.profilePage .searchResult:first-child
{
	margin-top: -5px;
}

<xen:if is="@enableResponsive">
@media (max-width:@maxResponsiveMediumWidth)
{
	.Responsive .profilePage
	{
		display: table;
		table-layout: fixed;
		width: 100%;
		box-sizing: border-box;
	}

	.Responsive .profilePage .mast
	{
		display: table-footer-group;
		
		float: none;
		padding-right: 0;
		border-right: none;
		margin: 0 auto;
		margin-top: 10px;
	}

	.Responsive .profilePage .avatarScaler
	{
		text-align: center;
	}

	.Responsive .profilePage .mast .sharePage
	{
		display: none;
	}

	.Responsive .profilePage .profileContent
	{
		margin-left: 0;
	}

	.Responsive .profilePage .mainProfileColumn
	{
		display: table-header-group;

		margin-left: 0;
		border-left: none;
		border-bottom: 1px solid @primaryLighter;
		padding-bottom: 10px;
	}

	.Responsive .profilePage .mast > *
	{
		max-width: 192px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width:@maxResponsiveNarrowWidth)
{
	.Responsive .warningList .warningExpiry
	{
		display: none;
	}
}

@media (max-width:340px)
{
	.Responsive .profilePage .mast > *
	{
		max-width: none;
	}
}
</xen:if>
.overviewSideBlock {
    float: right;
}
.profileCoverPhoto {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}
.changeCoverPhoto.button {
    position: absolute;
    left: auto;
    right: 10px;
    top: 5px;
}
.profilePageTopBlock {
    position: relative;
}
    .profilePageTopBlock .profileInfoWrapper {
        background: rgba(0, 0, 0, 0.6);
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        margin: 35px 0;
        bottom: 0;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 1px 3px rgba(0,0,0, 0.25);
        -khtml-box-shadow: 0px 1px 3px rgba(0,0,0, 0.25);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    }
    .profilePageTopBlock .avatarBlockWrapper {
        position: relative;
        margin: 5px 15px;
        float: left;
    }
    .profilePageTopBlock .avatarScaler {
    }
.profileInfoBlockwrapper .username {
    color: white;
    font-weight: bold;
    font-size: 30px;
    bottom: 0;
    position: absolute;
    left: 220px;
}
#UserStatus {
    padding: 10px;
}
.bubble {
    position: relative;
    width: 500px;
    height: 100%;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: #3C0000 solid 1px;
    display: inline-block;
    min-height: 55px;
}
    .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px 10px 20px 0;
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -48px;
        left: -4px;
        top: 100%;
    }
    .bubble:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px 10px 20px 0;
        border-color: transparent #3C0000;
        display: block;
        width: 0;
        z-index: 0;
        margin-top: -48px;
        left: -4px;
        top: 100%;
    }
.rank-container {font-size: 10px; font-weight: bold; margin: 0 5px; text-align: center;}
.rank-container strong {border-radius: 3px;border-top-right-radius: 0px;border-top-left-radius: 0px;box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.3);padding: 1px;position: relative;margin-bottom: 5px;}
/* Founder */
.founder strong {padding: 2px 4px;background: rgb(253, 43, 169) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: rgb(0,0,0); text-shadow: 0px 0px 6px black;}
.founder div {background-color: @primaryLight;}
/* Community Operator */
.community-operator strong {padding: 2px 4px;background: rgb(0, 31, 77) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.community-operator div {background-color: @primaryLight;}
/* Community Admin */
.community-admin strong {padding: 2px 4px;background: rgb(0, 31, 77) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.community-admin div {background-color: @primaryLight;}
/* Community Moderator */
.community-moderator strong {padding: 2px 4px;background: rgb(0, 31, 77) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.community-moderator div {background-color: @primaryLight;}
/* Wiki Developer */
.wiki-developer strong {padding: 2px 4px;background: rgb(0, 167, 250) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: rgb(0,0,0);}
.wiki-developer div {background-color: @primaryLight;}
/* Retired Staff */
.retired-staff strong {padding: 2px 4px;background: rgb(255, 143, 0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: rgb(0,0,0);}
.retired-staff div {background-color: @primaryLight;}
/* MC Network Operator */
.mc-network-operator strong {padding: 2px 4px;background: rgb(255,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.mc-network-operator div {background-color: @primaryLight;}
/* MC Network Developer */
.mc-network-developer strong {padding: 2px 4px;background: rgb(237,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.mc-network-developer div {background-color: @primaryLight;}
/* MC Network Admin */
.mc-network-admin strong {padding: 2px 4px;background: rgb(220,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.mc-network-admin div {background-color: @primaryLight;}
/* MC Network Moderator */
.mc-network-moderator strong {padding: 2px 4px;background: rgb(200,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.mc-network-moderator div {background-color: @primaryLight;}
/* RPG Kingdom Owner */
.kingdom-owner strong {padding: 2px 4px;background: rgb(170,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.kingdom-owner div {background-color: @primaryLight;}
/* MC Network Vet */
.mc-network-vet strong {padding: 2px 4px;background: rgb(130,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.mc-network-vet div {background-color: @primaryLight;}
/* MC Network Elite */
.mc-network-elite strong {padding: 2px 4px;background: rgb(80,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.mc-network-elite div {background-color: @primaryLight;}
/* MC Network Trustie */
.mc-network-trustie strong {padding: 2px 4px;background: rgb(40,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.mc-network-trustie div {background-color: @primaryLight;}
/* Community Member */
.community-member,
.guest strong {padding: 2px 4px;background: @primaryLight url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top;border: 1px solid @primaryLight;color: rgb(95,0,0);}
.community-member div,
.guest div {background-color: @primaryLight;}
/* Avatar Title */
.profileInfoWrapper .avatarScaler .username {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
}
/* User Links */
.profileInfoWrapper .userLinks {
    bottom: 0px;
    position: absolute;
    display: inline-block;
    padding: 5px 0 25px 0;
    font-style: normal;
}
<xen:if is="{$visitor.user_id} AND {$user.user_id} != {$visitor.user_id}">
    .profileInfoWrapper .userLinks a {
        font-size: 12px;
        font-family: Calibri, 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        background: rgb(220,220,235) url('styles/default/xenforo/gradients/form-button-white-25px.png') repeat-x top;
        padding: 0px 6px;
        border: 1px solid rgb(221, 221, 235);
        border-top-color: rgb(255, 255, 255);
        border-bottom-color: rgb(179, 179, 189);
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -khtml-border-radius: 7px;
        border-radius: 7px;
        text-align: center;
        -webkit-box-shadow: 0px 1px 4px 0px rgb(200,200,210);
        -moz-box-shadow: 0px 1px 4px 0px rgb(200,200,210);
        -khtml-box-shadow: 0px 1px 4px 0px rgb(200,200,210);
        box-shadow: 0px 1px 4px 0px rgb(200,200,210);
        text-shadow: 0 0 0 transparent, 0px -1px 2px white;
        outline: none;
        line-height: 21px;
        display: inline-block;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        height: 23px;
    }
<xen:else />
    <xen:comment> /* Do nothing */ </xen:comment>
</xen:if>
/* lastest activity */
.profileInfoWrapper .lastActivity {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    padding: 0px 0px 6px 0;
    color: rgb(150,150,150);
}
.member_view .breadBoxTop {
    display: none;
}
.CoverPhotoBelowBlock {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.profilePage .CoverPhotoBelowBlock .leftblock {
    float: left;
    width: 50%;
    border-right: 1px solid rgb(223, 213, 213);
}
.profilePage .CoverPhotoBelowBlock .rightblock {
    float: right;
    width: 50%;
    border-right: 1px solid rgb(223, 213, 213);
}
.CoverPhotoBelowBlock .avatarHeap {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.profilePage .tabs li {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.profilePage .profileAboutContent {
    float: left;
    width: 50%;
    border-right: 1px solid rgb(223, 213, 213);
}
.profilePage .profileInteractContent {
    float: right;
    width: 50%;
    border-left: 1px solid rgb(223, 213, 213);
}
.profilePage .overviewTopBlocks {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(223, 213, 213);
}
.profilePage .overviewTopBlocks .primaryContent {
    border-bottom: none !important;
}