body {
    background: #31140f url('ConceptBackgroundA.jpg') top center fixed;
}
 
.padd {
    height: 20px;
}
 
#nav-line {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: #78250e;
}
 
.styled {
    background: #fff;
    box-shadow: 0 5px 10px 6px rgba(0,0,0,.75);
}
 
.header .userbar {
    background: #000;
    margin-right: 60px;
    float: right;
    color: #fff;
    font-size: 10px;
    padding: 4px 16px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
 
.header .inner {
    height: 130px;
    padding: 20px;
    position:relative;
}
 
.header .inner .status {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
 
.header>div.nav {
    background: #f3f3f3;
    height: 40px;
    position:relative;
}
 
.header>div.nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
.header>div.nav>ul>li {
    float: left;
}
 
.header>div.nav>ul>li>a {
    display: block;
    font-weight:bolder;
    line-height: 28px;
    padding: 6px 18px;
    color: #55595b;
    transition-duration:200ms;
    transition-delay:0s;
    transition-timing-function:linear;
}
 
.header>div.nav>ul>li>a:hover {
    text-decoration: none;
    background: #e1e1e1;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
 
.imageSlider {
    width: 920px;
    height: 300px;
    border-radius: 3px;
    background: #f3f3f3 url('imageSliderBG.png');
    margin: 0px auto;
}
 
.body .inner {
    padding: 20px;
    color: #55595b;
}
 
.footer {
    background: #242424;
    color: #fafafa;
    min-height: 180px;
    padding-bottom:20px;
}
 
.footer>.inner {
    padding:20px;
}
 
.footer .footerfooter {
    margin-top: 40px;
    border-bottom: 1px solid #111;
    padding: 10px;
    border-top: 1px solid #111;
    font-size:11px;
    margin-bottom: 10px;
    color: #f4f4f4;
}
 
.footer .printnotes {
    text-align: center;
    font-size: 10px;
    color: #939393;
}
 
.footer h4 {
    padding-bottom: 5px;
    margin-bottom: 2px;
    border-bottom:1px solid #111;
}
 
.footer .col-md-4>ul {
    list-style:none;
    margin:0;
    padding: 0;
    font-size:12px;
}
 
.footer .col-md-4>ul>li>a {
    display:block;
    padding: 2px 8px;
}
 
.footer .col-md-4>ul.tile>li {
    float: left;
}
 
.footer .col-md-4>ul.tile>li>a {
    padding: 2px;
}