.ribbon {font-size: 10px; font-weight: bold; margin: -5px -5px -2px; text-align: center;}
.ribbon li {border-radius: 3px;border-top-right-radius: 0px;border-top-left-radius: 0px;box-shadow: 0px 1px 3px rgba(0,0,0, 0.25);padding: 1px;position: relative;margin-bottom: 5px;}
.ribbon li:last-child {margin-bottom: 0px;}
.ribbon li div {position: absolute;top: -4px;width: 4px;height: 4px;}
.ribbon li .right {border-top-right-radius: 3px;right: -1px;}
.ribbon li .left {border-top-left-radius: 3px;left: -1px;}
/* Founder */
.ribbonFounder {background: rgb(253, 43, 169) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: rgb(0,0,0); text-shadow: 0px 0px 6px black;}
.ribbonFounder div {background-color: @primaryLight;}
/* Community Operator */
.ribbonCommunityOperator {background: rgb(0, 31, 77) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonCommunityOperator div {background-color: @primaryLight;}
/* Community Admin */
.ribbonCommunityAdmin {background: rgb(0, 31, 77) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonCommunityAdmin div {background-color: @primaryLight;}
/* Community Moderator */
.ribbonCommunityModerator {background: rgb(0, 31, 77) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonCommunityModerator div {background-color: @primaryLight;}
/* Wiki Developer */
.ribbonWikiDeveloper {background: rgb(0, 167, 250) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: rgb(0,0,0);}
.ribbonWikiDeveloper div {background-color: @primaryLight;}
/* Retired Staff */
.ribbonRetiredStaff {background: rgb(255, 143, 0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: rgb(0,0,0);}
.ribbonRetiredStaff div {background-color: @primaryLight;}
/* MC Network Operator */
.ribbonMCNetworkOperator {background: rgb(255,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonMCNetworkOperator div {background-color: @primaryLight;}
/* MC Network Developer */
.ribbonMCNetworkDeveloper {background: rgb(237,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonMCNetworkDeveloper div {background-color: @primaryLight;}
/* MC Network Admin */
.ribbonMCNetworkAdmin {background: rgb(220,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonMCNetworkAdmin div {background-color: @primaryLight;}
/* MC Network Moderator */
.ribbonMCNetworkModerator {background: rgb(200,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonMCNetworkModerator div {background-color: @primaryLight;}
/* RPG Kingdom Owner */
.ribbonRPGKingdomOwner {background: rgb(170,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonRPGKingdomOwner div {background-color: @primaryLight;}
/* MC Network Vet */
.ribbonMCNetworkVet {background: rgb(130,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonMCNetworkVet div {background-color: @primaryLight;}
/* MC Network Elite */
.ribbonMCNetworkElite {background: rgb(80,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonMCNetworkElite div {background-color: @primaryLight;}
/* MC Network Trustie */
.ribbonMCNetworkTrustie {background: rgb(40,0,0) url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top; border: 1px solid @primaryLight; color: @contentBackground;}
.ribbonMCNetworkTrustie div {background-color: @primaryLight;}
/* Community Member */
.ribbonCommunityMember,
.ribbonGuest {background: @primaryLight url('@imagePath/xenforo/gradients/form-button-white-25px.png') repeat-x top;border: 1px solid @primaryLight;color: @contentBackground;}
.ribbonCommunityMember div,
.ribbonGuest div {background-color: @primaryLight;}